{% extends 'base.html' %}
{% block con %}
    <form method="post" enctype="multipart/form-data" name="regist">
        {% csrf_token %}

            <div class="container mt-5 mb-5">
                <h1>Sign up</h1>
                <div class="mb-3 mt-5">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp", name="un">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1", name="pw">
                </div>
                <div class="mb-3">
                    <label class="form-label">age</label>
                    <input type="number" class="form-control" aria-describedby="emailHelp", name="age">
                </div>
                <div class="mb-3">
                    <label class="form-label">Comment</label>
                    <textarea class="form-control" name="comment"></textarea>
                </div>
                <div class="mb-3">
                    <input type="file" name="pic" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-success" onclick="check()">Regist</button>
                </div>
            </div>
    </form>

    <script>
        function check(){
            f = document.regist;
            if (!f.un.value){
                alert("ID를 입력해주세요")
            }else if (!f.pw.value){
                alert("PW를 입력해주세요")
            }else{
                f.submit();
            }
        }


    </script>

{% endblock %}